html,body {
  @apply bg-gray-800 text-white;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  @apply text-6xl;
}

h2 {
  @apply text-5xl;
}

h3 {
  @apply text-4xl;
}

h4 {
  @apply text-3xl;
}

h5 {
  @apply text-2xl;
}

h6 {
  @apply text-xl
}

.icon {
  @apply fill-current text-white w-4 h-4;
}

.icon > path {
  @apply fill-current text-white;
}

input[type=text],
input[type=password] {
  @apply form-input text-gray-200 bg-gray-900;
}
