.button {
  @apply rounded bg-gray-900 border border-gray-500 text-white py-2 px-4;
}

.button:hover {
  @apply bg-gray-800 border border-gray-900;
}

.button-light {
  @apply button bg-gray-800;
}

.button-light:hover {
  @apply bg-gray-700;
}

.button-dark {
  @apply button;
}

.button-dark:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.button:focus {
  @apply outline-none shadow-outline;
}

.button-icon svg {
  @apply mt-1 ml-1 h-5;
}

.button-disabled {
  @apply opacity-50 cursor-not-allowed;
}
