.main__container {
  @apply flex flex-wrap mt-12;
  z-index: 10;
}

.content {
  @apply ml-auto mr-auto;}

.content-tiny {
  @apply w-1/6 content;
}

.content-slim {
  @apply w-1/2 content;
}

.content-wide {
  @apply w-2/3 content;
}
