.form__select {
  @apply block shadow appearance-none border border-gray-800 text-gray-200 bg-gray-900 rounded w-full py-3 px-4 pr-8 leading-tight;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.form__select:focus {
  @apply outline-none bg-gray-800 border-gray-500;
}

.form__label {
  @apply block uppercase tracking-wide text-gray-200 text-xs font-bold mb-2;
}

.form__input-text {
  @apply shadow appearance-none border border-gray-800 text-gray-200 bg-gray-900 rounded w-full py-3 px-4 pr-8 leading-tight;
}

.form__input-text:focus {
  @apply outline-none shadow-outline;
}

.form__select-arrow {
  @apply pointer-events-none absolute inset-y-0 right-0 flex items-center text-gray-200;
}

.form-mini {
  @apply bg-gray-900 shadow-md rounded px-8 pt-6 pb-8 mb-4;
}

.form__input-email {
  visibility: hidden;
  height: 0;
}
