.heading {
  font-weight: 300;
}

.heading__logo {
  @apply flex items-center flex-shrink-0 text-white mr-6;
}

.heading__text {
  @apply font-semibold text-xl tracking-tight;
}

.nav {
  @apply flex items-center justify-between flex-wrap bg-gray-900 p-6;
  z-index: 10;
}

.nav__menu {
  @apply w-full block flex-grow;
}

.nav__item {
  @apply block mt-4 text-gray-200 mr-4;
}

.nav__item:hover {
  @apply inline border-b-2 border-dotted border-white;
}

@media (min-width: 1000px) {
  .nav__menu {
    @apply flex items-center w-auto;
  }

  .nav__item {
    @apply inline-block mt-0;
  }
}
