select.swapper {
  @apply p-8 form__input-text;
}

select.swapper__available,
select.swapper__enabled {
  @apply w-full p-4;
}

div.swapper__controls {
  @apply flex flex-col items-center justify-center px-4;
}

button.swapper__button {
  @apply button my-1;
}
