.tab {
  @apply text-center block rounded py-2 px-4;
}

.tab-active {
  @apply bg-gray-900;
}

.tab:not(.tab-active) {
  background-color: rgba(0, 0, 0, 0.1)
}

.tab:hover:not(.tab-active) {
  background-color: rgba(0, 0, 0, 0.15)
}
