table.autotable {
  @apply border-collapse shadow mt-8 w-full;
  border-spacing: 0;
}

table.autotable > thead tr {
  @apply bg-gray-900;
}

table.autotable thead tr:last-child {
  @apply border-b border-solid border-gray-700;
}

table.autotable thead th {
  @apply p-2 text-left;
  width: 15%;
}

span.autotable__sort-indicator {
  @apply ml-1 text-sm;
}

th.autotable__checkbox-header > input,
td.autotable__checkbox > input {
  @apply h-6 w-6 m-2;
}

th.autotable__checkbox-header > input {
  @apply ml-4;
}

th.autotable__column-filter > input,
input.column-filter__input {
  @apply form-input text-gray-200 bg-gray-900;
}

table.autotable tbody tr {
  @apply border-b border-solid border-gray-700;
}

table.autotable tbody tr:nth-child(even) {
  @apply bg-gray-900;
}

table.autotable tbody tr:last-child {
  @apply border-b-0;
}

table.autotable tbody td {
  @apply p-1;
}

table.autotable tbody tr td:not(.editing) {
  @apply py-3 pl-4;
}

div.autotable__pagination {
  @apply flex justify-end pt-1;
}

button.autotable__pagination-page {
  @apply inline m-1 px-4 py-2;
}

button.autotable__pagination-active {
  @apply bg-gray-700;
}

td.editing > input {
  @apply form-input text-gray-200 bg-gray-900;
}

td.autotable__actions > button {
  @apply button;
}

th.autotable__column-filter-score > input {
  @apply invisible;
}

td.autotable__cell-empty {
  padding: 1.3rem !important;
}
